<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HourlySalary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HourlySalary.Properties.Settings>
            <setting name="MonthlySalary" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="ClockMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>09:00:00</value>
            </setting>
            <setting name="FinishTime" serializeAs="String">
                <value>18:00:00</value>
            </setting>
            <setting name="DarkForeground" serializeAs="String">
                <value>False</value>
            </setting>
        </HourlySalary.Properties.Settings>
    </userSettings>
</configuration>